@import "components/_roboto.scss";
@import "components/_open-sans.scss";

* {
  box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: Open Sans, Arial sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  &:hover, &:focus {
    color: red;
    text-decoration: none;
  }
}

$green: #1abc9c;

header {
  width: 100%;
  height: 50px;
  background: $green;
  font-size: 14px;
  color: #fff;

  .container {
    height: inherit;
  }

  .row {
    height: inherit;
  }

  .header-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #fff;

    .header-email {
      transform: translateX(10px);
      a {
        color: #fff;

        &:hover {
          color: blue;
        }
      }
    }

    .header-info__icon {
      transform: translateY(3px);
      font-size: 18px;
    }

    .header-info__icon2 {
      margin-right: 9px;
    }
  }

  .header-nav {
    height: inherit;

    .navbar {
      padding: 0;
      height: inherit;

      .nav-link {
        padding: 0;
        color: #fff;

        &:hover {
          color: blue;
        }

        span {
          margin-right: 10px;
        }
      }
    }
  }
}

.top-menu {
  height: 90px;

  .logo {
    cursor: pointer;

    h1 {
      font-family: Roboto;
      font-size: 30px;
      font-weight: 300;
      color: #555252;

      span {
        color: $green;
        font-weight: 900;
      }
    }
  }

  .top-menu__nav {
    .nav-link {
      padding: 0;
      font-size: 14px;
      font-weight: 700;
      color: #0f0101;
      text-transform: uppercase;

      &:hover {
        color: $green;
      }
    }
  }

  .search-cart {
    position: relative;
    color: #0f0101;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 33px;

    .search-icon {
      font-size: 20px;
      font-weight: 900;
      padding-bottom: 2px;
      margin-right: 7px;
      cursor: pointer;
      display: flex;

      &:hover {
        color: $green;
      }
    }

    .search-icon_click {
      display: none;
    }

    .close-search-icon {
      display: none;
    }

    .close-search-icon_click {
      font-size: 25px;
      font-weight: 900;
      margin-right: 7px;
      cursor: pointer;
      display: flex;

      &:hover {
        color: $green;
      }
    }

    .top-menu__input-search {
      position: absolute;
      bottom: 5px;
      outline: none;
      display: none;
    }

    .top-menu__input-search_click {
      display: flex;
    }

    .search-cart__cart {
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;

      .pe-7s-cart {
        font-size: 40px;
        position: relative;
        transform: translateY(7px);
        margin-left: 5px;

        .value-inside-icon {
          position: absolute;
          font-size: 14px;
          bottom: 35%;
          left: 45%;
          color: $green;
          font-weight: 700;
        }
      }
    }
  }
}

.banner {
  position: relative;

  .banner-slider {

    .banner-slider__slide {
      width: 100%;
      height: 600px;
    }

    .slide_1 {
      background: url(../img/banner.jpg) no-repeat center / cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .slide-title {
        color: #fffcfc;
        font-size: 48px;
        text-align: center;
        margin: 0;

        .slide-title_roboto {
          font-family: Roboto;
          font-weight: 300;
        }

        .slide-title_open-sans {
          font-weight: 400;
        }

        .slide-title_green {
          font-weight: 600;
          color: $green;
        }
      }

      .slide-btn {
        width: 120px;
        height: 42px;
        border: 2px solid $green;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 14px;
        font-family: Roboto;
        font-weight: 400;
        color: #fff;
        cursor: pointer;
        transition: all, 0.5s;

        &:hover {
          background: $green;
          font-weight: 600;
        }
      }
    }

    .slide_2 {
      background: url(../img/banner.jpg) no-repeat center / cover;
    }

    .slide_3 {
      background: url(../img/banner.jpg) no-repeat center / cover;
    }
  }

  .slider-nav {
    width: 104px;
    height: 104px;
    background: $green;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    transition: all, 0.5s;

    &:hover {
      background: darken($green, 10%);
    }
  }

  .slider-nav_left {
    left: 0;
  }

  .slider-nav_right {
    right: 0;
  }
}

.about-us {
  height: 451px;

  .about-us-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #555252;

    .about-us__title {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 62px;
      margin-bottom: 29px;
    }

    .about-us__discription {
      font-size: 14px;
      text-align: center;
    }

    &:hover {
      .about-us__icon, .about-us__title {
        color: $green;
      }
    }
  }
}

.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 75px;

  .section-heading__title {
    text-transform: uppercase;
    color: #515151;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 25px;
  }

  .section-heading__line {
    width: 164px;
    height: 15px;
    border-top: 2px solid $green;
    border-bottom: 2px solid $green;
    display: flex;
    align-items: center;

    .just-line {
      width: inherit;
      height: 7px;
      background: $green;
    }
  }
}

.new-collection {
  width: 100%;
  background: #e9f0fd;
  padding-bottom: 100px;
}

.product {
  width: 255px;
  height: 322px;
  position: relative;
  cursor: pointer;

  &:hover {
    .product__hover {
      display: flex;
    }
  }

  .product__bottom {
    display: flex;
    position: absolute;
    bottom: 0;
    width: inherit;
    height: 40px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;

    .product__title {
      width: 200px;
      height: inherit;
      background: #323232;
      display: flex;
      align-items: center;
      padding-left: 15px;
    }

    .product__price {
      width: 55px;
      height: inherit;
      background: #8c8c8c;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .product__hover {
    width: 235px;
    height: 260px;
    position: absolute;
    left: 25px;
    top: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(50, 50, 50, 0.6);

    .hover-icons {
      width: 166px;
      display: flex;
      justify-content: space-between;
      color: #fff;

      span {
        width: 50px;
        height: 50px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background: $green;
        }
      }
    }

    .hover-cart {
      width: 166px;
      height: 50px;
      border: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 7px;
      background: #323232;
      color: #fff;

      span {
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 10px;
      }

      &:hover {
        background: $green;
      }
    }
  }

  .product__status {
    position: absolute;
    top: 10px;
    width: 70px;
    height: 30px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
  }

  .product__status_new {
    left: 25px;
  }

  .product__status_sale {
    right: 25px;
  }
}

.futured-products {
  padding-bottom: 65px;

  .product {
    margin-bottom: 30px;
  }

  .futured-products-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 105px;
  }
}

.futured-products__btn {
  margin: 0 7px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #555252;
  text-transform: uppercase;
  border: 1px solid #959595;
  height: 28px;
  padding: 0 10px;
  position: relative;

  &:hover, &:focus {
    border: 1px solid $green;
    color: #fff;
  }

  &:hover {
    background: lighten($green, 5%);

    .product-amount {
      display: flex;
      color: #fff;
      background: $green;
    }
  }

  &:focus {
    background: $green;
    box-shadow: none;

    .product-amount {
      display: flex;
    }
  }
}

.product-amount {
  position: absolute;
  top: -33px;
  right: -15px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 1px solid #000;
  border-radius: 20px;
  color: $green;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
}

.product_hide {
  display: none;
}
