@import "components/_roboto.scss";
@import "components/_open-sans.scss";

* {
  box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: Open Sans, Arial sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  &:hover, &:focus {
    color: red;
    text-decoration: none;
  }
}

$green: #1abc9c;

header {
  width: 100%;
  height: 50px;
  background: $green;
  font-size: 14px;
  color: #fff;

  .container {
    height: inherit;
  }

  .row {
    height: inherit;
  }

  .header-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #fff;

    .header-email {
      transform: translateX(10px);
      a {
        color: #fff;

        &:hover {
          color: blue;
        }
      }
    }

    .header-info__icon {
      transform: translateY(3px);
      font-size: 18px;
    }

    .header-info__icon2 {
      margin-right: 9px;
    }
  }

  .header-nav {
    height: inherit;

    .navbar {
      padding: 0;
      height: inherit;

      .nav-link {
        padding: 0;
        color: #fff;

        &:hover {
          color: blue;
        }

        span {
          margin-right: 10px;
        }
      }
    }
  }
}

.top-menu {
  height: 90px;

  .logo {
    cursor: pointer;

    h1 {
      font-family: Roboto;
      font-size: 30px;
      font-weight: 300;
      color: #555252;

      span {
        color: $green;
        font-weight: 900;
      }
    }
  }

  .top-menu__nav {
    .nav-link {
      padding: 0;
      font-size: 14px;
      font-weight: 700;
      color: #0f0101;
      text-transform: uppercase;

      &:hover {
        color: $green;
      }
    }
  }

  .search-cart {
    position: relative;
    color: #0f0101;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 33px;

    .search-icon {
      font-size: 20px;
      font-weight: 900;
      padding-bottom: 2px;
      margin-right: 7px;
      cursor: pointer;
      display: flex;
    }

    .search-icon_click {
      display: none;
    }

    .close-search-icon {
      display: none;
    }

    .close-search-icon_click {
      font-size: 25px;
      font-weight: 900;
      margin-right: 7px;
      cursor: pointer;
      display: flex;
    }

    .top-menu__input-search {
      position: absolute;
      bottom: 10px;
      outline: none;
      display: none;
    }

    .top-menu__input-search_click {
      display: flex;
    }

    .search-cart__cart {
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;

      .pe-7s-lock {
        position: relative;

        .value-inside-icon {
          position: absolute;
          font-size: 14px;
          bottom: 16%;
          left: 40%;
          color: $green;
          font-weight: 700;
        }
      }
    }
  }
}

.banner {
  position: relative;

  .banner-slider {

    .banner-slider_slide {
      width: 100%;
      height: 600px;
    }

    .slide_1 {
      background: url(../img/banner.jpg) no-repeat center / cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .slide-title {
        color: #fffcfc;
        font-size: 48px;
        text-align: center;
        margin: 0;

        .slide-title_roboto {
          font-family: Roboto;
          font-weight: 300;
        }

        .slide-title_open-sans {
          font-weight: 400;
        }

        .slide-title_green {
          font-weight: 600;
          color: $green;
        }
      }

      .slide-btn {
        width: 120px;
        height: 42px;
        border: 2px solid $green;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 14px;
        font-family: Roboto;
        font-weight: 400;
        color: #fff;
        cursor: pointer;
        transition: all, 0.5s;

        &:hover {
          background: $green;
          font-weight: 600;
        }
      }
    }

    .slide_2 {
      background: url(../img/banner.jpg) no-repeat center / cover;
    }

    .slide_3 {
      background: url(../img/banner.jpg) no-repeat center / cover;
    }
  }

  .slider-nav {
    width: 104px;
    height: 104px;
    background: $green;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    transition: all, 0.5s;

    &:hover {
      background: darken($green, 10%);
    }
  }

  .slider-nav_left {
    left: 0;
  }

  .slider-nav_right {
    right: 0;
  }
}
