@media only screen and (max-width : 1200px) {
  .banner {
    .banner-slider {
      .banner-slider__slide {
        height: 540px;
      }
    }
    .slider-nav {
      width: 84px;
      height: 84px;
    }
  }

  .product {
    width: 215px;
    height: 300px;

    .product__hover {
      width: 195px;
      height: 240px;
    }

    .product__status_sale {
      right: 20px;
    }
  }
}

@media only screen and (max-width : 991px) {
  header {
    .header-nav {
      .navbar {
        padding: 0;
      }

      .navbar-toggler {
        padding: 0;
        outline: none;
      }

      .navbar-toggler-icon {
        width: auto;
        height: auto;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        outline: none;
      }

      .navbar-collapse {
        position: absolute;
        z-index: 10;
        top: 100%;
        right: 0;
      }

      .navbar-nav {
        background: $green;
        width: 175px;
        padding-bottom: 20px;

        .nav-item {
          margin-left: 0;
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }

  .top-menu {
    .top-menu__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;

      .top-menu__toggler-icon {
        display: block;
        -webkit-transform: translateX(45px);
                transform: translateX(45px);
        font-size: 26px;
        color: $green;
        cursor: pointer;
      }

      .navbar {
        padding: 0;
        position: relative;
        margin: 0 auto;

        .top-menu__navbar-nav {
          position: absolute;
          top: 25px;
          left: -100%;
          z-index: 10;
          background: lighten($green, 50%);
          width: 170px;
          text-align: center;
          padding: 15px 0;

          .nav-item {
            margin-left: 0;
            margin-top: 10px;

            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }

    .search-cart {
      margin-left: auto;
    }
  }

  .top-menu__navbar-nav {
    display: none;
  }

  .top-menu__navbar-nav_on-click {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .banner {
    .banner-slider {
      .banner-slider__slide {
        height: 450px;
      }
    }

    .slider-nav {
      display: none !important;
    }
  }

  .about-us {
    height: 751px;
  }

  .section-heading {
    margin-top: 75px;
    margin-bottom: 65px;

    .section-heading__title {
      font-size: 38px;
      margin-bottom: 20px;
    }
  }

  .product {
    width: 255px;
    height: 322px;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;

    .product__bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      bottom: 0;
      width: inherit;
      height: 40px;
      font-family: Roboto;
      font-weight: 900;
      font-size: 18px;
      text-transform: uppercase;
      color: #fff;

      .product__title {
        width: 80%;
        height: inherit;
        background: #323232;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 15px;
      }

      .product__price {
        width: 20%;
        height: inherit;
        background: #8c8c8c;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
    }

    .product__hover {
      width: 235px;
      height: 260px;
      position: absolute;
      left: 50%;
      top: 10px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: rgba(50, 50, 50, 0.6);

      .hover-icons {
        width: 166px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        color: #fff;

        span {
          width: 50px;
          height: 50px;
          border: 1px solid #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          cursor: pointer;

          &:hover {
            background: $green;
          }
        }
      }

      .hover-cart {
        width: 166px;
        height: 50px;
        border: 1px solid #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 7px;
        background: #323232;
        color: #fff;

        span {
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          margin-left: 10px;
        }

        &:hover {
          background: $green;
        }
      }
    }

    .product__status {
      position: absolute;
      top: 10px;
      width: 70px;
      height: 30px;
      border: 1px solid #000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      cursor: pointer;
    }

    .product__status_new {
      left: 63px;
    }

    .product__status_sale {
      right: 63px;
    }
  }

  .new-collection {
    padding-bottom: 60px;
  }

  #partners {
    height: 750px;
  }

  .our-partners__block {
    margin-bottom: 30px;
  }

  #contacts {
    height: 1075px;
  }

  .section-contacts {
    .contact-us {
      margin-top: 65px;
    }
  }
}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 480px) {

}
